{%- set href_email = "mailto:" ~ links.email -%}
{%- set href_githb = "https://github.com/" ~ links.github ~ "/" -%}
{%- set href_orcid = "https://orcid.org/" ~ links.orcid -%}
{%- set href_schlr = "https://scholar.google.com/citations?user=" ~ links.google_scholar ~ "&hl=en" -%}
{%- set href_crmvt = "pdfs/" ~ links.cv -%}
{%- set icon_email = '<iconify-icon icon="bi:envelope"></iconify-icon>' -%}
{%- set icon_githb = '<iconify-icon icon="fa6-brands:github"></iconify-icon>' -%}
{%- set icon_orcid = '<iconify-icon icon="fa6-brands:orcid"></iconify-icon>' -%}
{%- set icon_schlr = '<iconify-icon icon="academicons:google-scholar"></iconify-icon>' -%}
{%- set icon_crmvt = '<iconify-icon icon="academicons:cv"></iconify-icon>' -%}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ name.full }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta property="og:title" content="{{ name.full }}">
    <meta property="og:description" content="{{ meta.description }}">
    <meta property="og:url" content="{{ meta.base_url }}">
    <meta property="og:image" content="{{ meta.base_url }}/assets/{{ meta.og_image }}">
    <link rel="stylesheet" href="assets/theme.css">
    <link rel="icon" href="assets/favicon.png">
    <script src="assets/iconify-icon.min.js" defer></script>
    <script src="assets/tabset.js" defer></script>
</head>

<body>
    <div class="page-layout">
        <nav>
            <div class="content-container">
                <h1>
                    <span class="name-full">{{ name.full }}</span>
                    <span class="name-short">{{ name.short }}</span>
                </h1>
                <ul class="icons">
                    <li><a href="{{ href_email }}">{{ icon_email }}</a></li>
                    <li><a href="{{ href_githb }}">{{ icon_githb }}</a></li>
                    <li><a href="{{ href_orcid }}">{{ icon_orcid }}</a></li>
                    <li><a href="{{ href_schlr }}">{{ icon_schlr }}</a></li>
                    <li><a href="{{ href_crmvt }}">{{ icon_crmvt }}</a></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="content-container">
                <div class="about">
                    {% include "about.html" -%}
                </div>
                <div class="tabset">
                    <div class="labels">
                        <button class="label active" data-tab="publications">Publications</button>
                        <button class="label" data-tab="presentations">Presentations</button>
                        <button class="label" data-tab="manuscripts">Manuscripts</button>
                    </div>
                    <select id="tab-select">
                        <option value="publications">Publications</option>
                        <option value="presentations">Presentations</option>
                        <option value="manuscripts">Manuscripts</option>
                    </select>
                    <div class="panels">
                        {% include "panels.html" %}
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>