<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>KB Vernon</title>
    <link rel="stylesheet" href="assets/theme.css">
    <link rel="icon" href="assets/favicon.png">
    <meta property="og:title" content="KB Vernon">
    <meta property="og:description" content="A simple website with bibliographic data.">
    <meta property="og:url" content="https://www.kbvernon.io/">
    <meta property="og:image" content="https://www.kbvernon.io/assets/green_grass_valley-meta.jpg">
    <script src="assets/iconify-icon.min.js" defer></script>
    <script src="assets/tabset.js" defer></script>
</head>

<body>
    <div class="page-layout">
        <nav>
            <div class="content-container">
                <h1>
                    <span class="name-full">Kenneth Blake Vernon</span>
                    <span class="name-short">KB Vernon</span>
                </h1>
                <ul class="icons">
                    <li><a href="mailto:k.vernon@sci.utah.edu">
                            <iconify-icon icon="bi:envelope"></iconify-icon></a></li>
                    <li><a href="https://github.com/kbvernon/">
                            <iconify-icon icon="fa6-brands:github"></iconify-icon></a></li>
                    <li><a href="https://orcid.org/0000-0003-0098-5092">
                            <iconify-icon icon="fa6-brands:orcid"></iconify-icon></a></li>
                    <li><a href="https://scholar.google.com/citations?user=2PE4za4AAAAJ&hl=en">
                            <iconify-icon icon="academicons:google-scholar"></iconify-icon></a></li>
                    <li><a href="pdfs/cv-vernon.pdf">
                            <iconify-icon icon="academicons:cv"></iconify-icon></a></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="content-container">
                <div class="about">
                    <p>This website collects all of my publishing output along with a list of current or
                        ongoing projects. It is presented in a way that is easy to search, providing
                        access to preprints (at least when I have them) and bibliographic data, all of
                        which can be directly downloaded.</p>

                    <p><strong>Research Interests.</strong> Broadly speaking, my research focuses on the ecology of
                        human behavior, but here are the specific questions that really animate me these days:</p>

                    <ul>
                        <li><strong>Climate adaptation and migration</strong>: in very abstract terms, how do people
                            distribute themselves across space, and how is that influenced over the long
                            term by climate trends?</li>
                        <li><strong>The economics of early, early, early urbanism</strong>: that is, how did we
                            get from small, dispersed groups of mobile hunter-gatherers to large
                            concentrations of sedentary city dwellers?</li>
                        <li><strong>Demographic interpolation</strong>: or, how do we estimate population size
                            without a census?</li>
                    </ul>

                    <p>In my spare time, I also contribute to several FOSS projects in the R community.</p>
                </div>

                <div class="tabset">
                    <div class="labels">
                        <button class="label active" data-tab="publications">Publications</button>
                        <button class="label" data-tab="presentations">Presentations</button>
                        <button class="label" data-tab="manuscripts">Manuscripts</button>
                    </div>
                    <select id="tab-select">
                        <option value="publications">Publications</option>
                        <option value="presentations">Presentations</option>
                        <option value="manuscripts">Manuscripts</option>
                    </select>
                    <div class="panel active" id="publications">{% include "publications.html" %}</div>
                    <div class="panel" id="presentations">{% include "presentations.html" %}</div>
                    <div class="panel" id="manuscripts">{% include "manuscripts.html" %}</div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>