{%- set_global current_year = 0 -%}
<div class="bib-download">
    <a href="data/article.bib" download><iconify-icon role="img" inline
            icon="fa6-regular:floppy-disk"></iconify-icon>Download BibTeX</a>
</div>
<table class="bib-table">
    <tbody>
        {%- for ref in articles %}
        {%- set year = ref.issued["date-parts"] | first | first -%}
        <tr>
            <td class="year">{%- if year != current_year %}{{ year }}{%- set_global current_year = year -%}{%- endif
                %}</td>
            <td class="data">
                <div class="title">{{ ref.title }}</div>
                <div class="details ref">
                    {%- if ref["container-title"] %}<span>{{ ref["container-title"] }}</span>{%- endif -%}
                    {%- if ref.volume %} {{ ref.volume }}{%- endif -%}
                    {%- if ref.issue %} ({{ ref.issue }}){%- endif -%}
                    {%- if ref.page %}: {{ ref.page | replace(from="--", to="-") }}{%- endif -%}
                    {%- if year %} ({{ year }}){%- endif %}
                </div>
                <div class="details authors">
                    <iconify-icon role="img" inline icon="bi:people"></iconify-icon>
                    {% for a in ref.author %}{{ a.given }} {{ a.family }}{% if not loop.last %}, {% endif %}{% endfor %}
                </div>
                {%- if ref.DOI %}
                <div class="details doi">
                    <iconify-icon role="img" inline icon="academicons:doi"></iconify-icon> {{ ref.DOI }}
                </div>
                {%- endif %}
                <div class="link-group">
                    {%- if ref.github %}
                    <a href="{{ ref.github }}" class="btn btn-github">
                        <iconify-icon role="img" inline icon="fa6-brands:github"></iconify-icon>GitHub</a>
                    {%- endif %}
                    {%- if ref.preprint %}
                    <a href="{{ ref.preprint }}" class="btn btn-preprint">
                        <iconify-icon role="img" inline icon="bi:filetype-pdf"></iconify-icon>Preprint</a>
                    {%- endif %}
                    {%- if ref.URL %}
                    <a href="{{ ref.URL }}" class="btn btn-article">
                        <iconify-icon role="img" inline icon="bi:journal-text"></iconify-icon>Article</a>
                    {%- endif %}
                </div>
            </td>
        </tr>
        {%- endfor %}
    </tbody>
</table>