{%- import 'macros.html' as bib -%}

{%- set href_email = "mailto:" ~ config.extra.email -%}
{%- set href_github = "https://github.com/" ~ config.extra.github ~ "/" -%}
{%- set href_orcid = "https://orcid.org/" ~ config.extra.orcid -%}
{%- set href_scholar = "https://scholar.google.com/citations?user=" ~ config.extra.google_scholar ~ "&hl=en" -%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ config.extra.full_name }} CV</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../theme.css">
    </head>
    <body>
        <div class="cv-layout">
            <header class="cv-header">
                <h1><span class="name-full">{{ config.extra.full_name }}</span></h1>
                <div class="meta">
                    <div id="occupation">
                        <p>{{ page.extra.job.name }}</p>
                        <p>{{ page.extra.job.uni }}</p>
                        <p>{{ page.extra.job.address }}</p>
                        <p>{{ page.extra.job.city }}</p>
                    </div>
                    <ul class="icons">
                        <li>
                            <a href="{{ href_email }}">
                                kbvernon.io<span class="icon mask ph--envelope-simple-light"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ href_github }}">
                                {{ config.extra.github }}<span class="icon mask ph--github-logo-light"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ href_orcid }}">
                                {{ config.extra.orcid }}<span class="icon mask la--orcid"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ href_scholar }}">
                                {{ config.extra.google_scholar }}<span class="icon mask ph--student-light"></span>
                            </a>
                        </li>
                    </ul>
                </div>

            </header>
            <main>
                <section class="cv-section" id="appointments">
                    <h2>Professional Appointments</h2>
                    <ul class="bib-list condensed">
                        {%- for entry in page.extra.appointments %}
                        <li>
                            <span class="year">{{ entry.year }}</span>
                            <div class="data">
                                <strong>{{ entry.title }}</strong>
                                <div class="details">{{ entry.affiliation | join(sep="<br>") | safe }}</div>
                            </div>
                        </li>
                        {%- endfor %}
                    </ul>
                </section>
                <section class="cv-section" id="education">
                    <h2>Education</h2>
                    <ul class="bib-list condensed">
                        {%- for entry in page.extra.education %}
                        <li>
                            <span class="year">{{ entry.year }}</span>
                            <div class="data">
                                <strong>{{ entry.degree }}</strong> | {{ entry.institution }}
                            </div>
                        </li>
                        {%- endfor %}
                    </ul>
                </section>
                <section class="cv-section" id="publications">
                    <h2>Peer-Reviewed Journal Articles</h2>
                    {{ bib::list_articles() }}
                </section>
                <section class="cv-section" id="manuscripts">
                    <h2>Manuscripts</h2>
                    {{ bib::list_manuscripts() }}
                </section>
                <section class="cv-section" id="grants">
                    <h2>Grants, Fellowships, and Awards</h2>
                    {%- set grants = load_data(path="data/grants.json") %}
                    {%- set_global current_year = 0 %}
                    <ul class="bib-list">
                        {%- for grant in grants.items %}
                        <li>
                            <span class="year">
                                {%- if grant.year and grant.year != current_year %}
                                {{ grant.year }}
                                {%- set_global current_year = grant.year %}
                                {%- endif %}
                            </span>
                            <div class="data">
                                <div class="title">{{ grant.title }}</div>
                                <div class="details ref">
                                    {{ grant.program }} | {{ grant.funder }}
                                </div>
                                <div class="details">
                                    PI: {{ grant.pi | join(sep=", ") }} | ${{ grant.amount | num_format }}
                                </div>
                            </div>
                        </li>
                        {%- endfor %}
                    </ul>
                </section>
                <section class="cv-section" id="presentations">
                    <h2>Presentations</h2>
                    {{ bib::list_presentations() }}
                </section>
                <section class="cv-section" id="teaching">
                    <h2>Teaching</h2>
                    <ul class="bib-list condensed">
                        <li>
                            <span class="year"></span>
                            <div class="data">
                                <div class="title">Teaching Interests</div>
                                {{ page.extra.teaching.interests | join(sep=", ") }}
                            </div>
                        </li>
                        {%- set classes_by_uni = page.extra.teaching.classes | group_by(attribute="uni") %}
                        {%- for uni, classes in classes_by_uni %}
                        <li>
                            <span class="year"></span>
                            <div class="data">
                                <div class="title">{{ uni }}</div>
                                <ul class="class-list">
                                    {%- for entry in classes %}
                                    <li>{{ entry.class }}</li>
                                    {%- endfor %}
                                </ul>
                            </div>
                        </li>
                        {%- endfor %}
                    </ul>
                </section>
                <section class="cv-section" id="affiliations">
                    <h2>Professional Affiliations</h2>
                    <ul class="bib-list condensed">
                        {%- for entry in page.extra.affiliations %}
                        <li>
                            <span class="year">{{ entry.year }}</span>
                            <div class="data">{{ entry.organization }}</div>
                        </li>
                        {%- endfor %}
                    </ul>
                </section>
                <section class="cv-section" id="synergy">
                    <h2>Service, Outreach, and other Activities</h2>
                    {%- set service = load_data(path="data/service.json") %}
                    {%- set_global current_year = 0 %}
                    <ul class="bib-list condensed">
                        {%- for entry in service.items %}
                        <li>
                            <span class="year">
                                {%- if entry.year != current_year %}
                                {{ entry.year }}
                                {%- set_global current_year = entry.year %}
                                {%- endif %}
                            </span>
                            <div class="data">
                                <div>
                                    <span class="title">{{ entry.program }}</span>
                                    {%- if entry.uni %}
                                    <span>
                                        {{ entry.uni }} {%- if entry.years %} | {{ entry.years }}{%- endif %}
                                    </span>
                                    {%- endif %}
                                </div>
                                <div class="details">
                                    {{ entry.role }}.{%- if entry.description %} {{ entry.description }}{%- endif %}
                                </div>
                            </div>
                        </li>
                        {%- endfor %}
                    </ul>
                </section>
                <section class="cv-section" id="references">
                    <h2>References</h2>
                    <p id="ref-statement"><em>Available upon request.</em></p>
                </section>
            </main>
        </div>
    </body>
</html>