{%- import 'macros.html' as bib -%}

{%- set href_email = "mailto:" ~ config.extra.email -%}
{%- set href_github = "https://github.com/" ~ config.extra.github ~ "/" -%}
{%- set href_orcid = "https://orcid.org/" ~ config.extra.orcid -%}
{%- set href_scholar = "https://scholar.google.com/citations?user=" ~ config.extra.google_scholar ~ "&hl=en" -%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>KBV</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <meta name="description" content="{{ config.description }}">
        <meta property="og:title" content="{{ config.title }}">
        <meta property="og:description" content="{{ config.description }}">
        <meta property="og:url" content="{{ config.base_url }}">
        <meta property="og:image" content="{{ config.base_url }}/{{ config.extra.og_image }}">
        <link rel="stylesheet" href="theme.css">
        <link rel="icon" href="favicon.svg" type="image/svg+xml">
        <link rel="icon" href="favicon.ico" sizes="32x32">
        <script src="tabset.js" defer></script>
    </head>
    <body>
        <div class="page-layout">
            <header class="page-header">
                <h1>
                    <a href="{{ config.base_url }}">
                        <span class="name-full">{{ config.extra.full_name }}</span>
                        <span class="name-short">{{ config.extra.short_name }}</span>
                    </a>
                </h1>
                <ul class="icons">
                    <li><a href="{{ href_email }}" aria-label="Email" data-tooltip="Send an email"><span
                                  class="icon mask ph--envelope-simple-light"></span></a></li>
                    <li><a href="{{ href_github }}" aria-label="GitHub" data-tooltip="View GitHub profile"><span
                                  class="icon mask ph--github-logo-light"></span></a>
                    </li>
                    <li><a href="{{ href_orcid }}" aria-label="ORCID" data-tooltip="View ORCID profile"><span
                                  class="icon mask la--orcid"></span></a></li>
                    <li><a href="{{ href_scholar }}" aria-label="Google Scholar"
                           data-tooltip="View Google Scholar profile"><span
                                  class="icon mask ph--student-light"></span></a></li>
                    <li><a href="cv.pdf" aria-label="CV" data-tooltip="Download CV"><span
                                  class="icon custom--cv"></span></a></li>
                </ul>
            </header>
            <main>
                <section class="about">
                    {{ section.content | safe }}
                </section>
                <section class="bibliography">
                    <div class="tabset">
                        <div class="labels" role="tablist">
                            <button class="label active" id="tab-publications" role="tab" aria-selected="true"
                                    aria-controls="publications" data-tab="publications">Publications</button>
                            <button class="label" id="tab-presentations" role="tab" aria-selected="false"
                                    aria-controls="presentations" data-tab="presentations">Presentations</button>
                            <button class="label" id="tab-manuscripts" role="tab" aria-selected="false"
                                    aria-controls="manuscripts" data-tab="manuscripts">Manuscripts</button>
                        </div>
                        <select id="tab-select" aria-label="Select bibliography">
                            <option value="publications">Publications</option>
                            <option value="presentations">Presentations</option>
                            <option value="manuscripts">Manuscripts</option>
                        </select>
                        <div class="panels">
                            <div class="panel active" id="publications" role="tabpanel"
                                 aria-labelledby="tab-publications">
                                {{ bib::btn_download(filename="article.bib") }}
                                {{ bib::list_articles() }}
                            </div>

                            <div class="panel" id="presentations" role="tabpanel" aria-labelledby="tab-presentations">
                                {{ bib::btn_download(filename="presentation.bib") }}
                                {{ bib::list_presentations() }}
                            </div>

                            <div class="panel" id="manuscripts" role="tabpanel" aria-labelledby="tab-manuscripts">
                                {{ bib::btn_download(filename="manuscript.bib") }}
                                {{ bib::list_manuscripts() }}
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>